<footer class="col-m-12">
  <ul class="row foot-nav">
    <li class="col-m-2"><a href="#">Privacidad</a></li>
    <li class="col-m-2"><a href="#">Preferencias</a></li>
    <li class="col-m-2"><a href="#">Condiciones de Uso</a></li>
    <li class="col-m-2"><a href="#">Centro de Ayuda</a></li>
  </ul>
  <p>&#169;2022 Filmin'-Media. All Rights Reserved. Filmin'&#x2122; is used under license.</p>
</footer>
